<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUDCO Agent Reporting</title>
    <link rel="stylesheet" href="css/style1.css">   
</head>

<body>
    <header>

        <div class="container-header-container" role="region" aria-label="header container" style="padding: 20px;">
            
            <a href="index.html" title="Home" rel="home" class="header__logo" id="logo" style="padding-right: 450px;" >
                <img  src="images/hudcologo.png" alt="hudcologo.icon">
            </a>	
            <a class="sw-logo" title="Swachh Bharat, External Link that opens in a new window" href="https://swachhbharatmission.ddws.gov.in/" target="_blank" aria-label="Swachh Bharat">
                <img src="https://dopt.gov.in/sites/all/modules/customs/cmf_content/assets/images/swach-bharat.png" alt="Swachh Bharat">
            </a>
            <a title="Mahatma Gandhi 150th birth anniversary, External Link that opens in a new window" href="http://amritmahotsav.nic.in" target="_blank" aria-label="Mahatma Gandhi">
                <img src="https://dopt.gov.in/sites/all/modules/customs/cmf_content/assets/images/AKAM_logo.jpg" alt="Mahatma Gandhi">
            </a>
            <a title="International Year of Cooperatives" href="#" target="_blank" aria-label="International Year of Cooperatives">
                <img src="https://dopt.gov.in/sites/all/modules/customs/cmf_content/assets/images/IYC-Logo.png" alt="International Year of Cooperatives">
            </a>
        </div>
        
        <div id="navbar">
            <a id="head-logo" class="top-head" href="index.html">Home</a>
            <a class="top-head" href="https://www.hudco.org.in"> Go To Main Site</a>
            <a class="top-head" href="aboutus.html">About Us</a>
            <a class="top-head" href="contactus.html">Contact Us</a>
            <input placeholder="Search Here">
            <a href="signin.html"><button>Sign In!</button></a>
        </div>
        <br>
        <hr>

        <div id="mid-header">  
            <div class="top-nav" style="text-align: center;" >
                <span class="funding" style="color: crimson;">Financing, Consultancy and Capacity Building</span><br>
                <span style="margin-top:4.5%;">विकसित भारत के लिए संपदा निर्माण में कार्यरत</span><br>
                <span >BUILDING ASSETS FOR VIKSIT BHARAT</span>
            </div>  
        </div>
        <hr>
    </header>

    <main>
        <div id="abuspic"><img id="abusicon" src="images/about-us.jpg" alt="about-us icon"></div>
        <h1 style="text-align: center;"><u>Brief History</u></h1>
        <br>
        <div id="abustext">
            <h3 style="color: coral;">Brief History of Our Company</h3>
            <p>Our Company was incorporated as “The Housing and Urban Development Finance Corporation Private Limited” on April 25, 1970, as a private limited company under the Companies Act, 1956, and was granted a certificate of incorporation by the then Registrar of Companies, Delhi. Subsequently, the name of our Company was changed to its present name, “Housing and Urban Development Corporation Limited” and a fresh certificate of incorporation dated July 9, 1974, was issued by the then Registrar of Companies, Delhi & Haryana. Our Company was notified as a public financial institution under Section 4A of the Companies Act, 1956 on December 9, 1996, by the Department of Company Affairs, Ministry of Finance, GoI. Further, the NHB issued a certificate of registration to us on July 31, 2001, permitting us to carry on the business of a housing finance institution.</p>
            <br>
            <h3 style="color: coral;"> Our Main Obectives</h3>
            <pre style="font-family: 'Times New Roman', Times, serif">
            The main objects of our Company as contained in our Memorandum of Association are:

            ->To provide finance/ credit facility to the Housing and Infrastructure Sectors/ Sub-sectors, with special emphasis on urban development.

            ->To finance or undertake or collaborate for development of the Housing and Infrastructure Sectors/ Sub-sectors including the setting up of new / satellite towns, in India
              and abroad.
            ->To subscribe to the debentures and bonds issued for the purpose of financing Housing and Infrastructure Sectors/Sub-sectors.

            ->To finance or undertake the setting up of industrial enterprises of building material.

            ->To administer the funds received, from time to time, from the Government of India and other sources as grants or otherwise for the purposes of channelizing or financing
              Housing and Infrastructure Sectors/ Sub-sectors or undertaking or assisting in development thereof in the country.

            ->To promote, establish, assist, collaborate and provide consultancy services relating to Housing and Infrastructure Sectors/ Sub-sectors in India and abroad.

            ->To undertake the business, or invest in and/or subscribe to the units/ shares etc., of Alternate Investment Funds (AIF), Real Estate Investment Trust (REIT) and/ or 
              InfrastructureInvestment Trust (InvIT) pertaining to Housing and Infrastructure Sectors/ Sub-sectors andalso facilitating Innovations in these Sectors/ Sub-sectors.

            ->To set up HUDCO’s own Mutual Fund for the purpose of Housing and Infrastructure Sectors/Sub-sectors and/or invest in, and/or subscribe to the units etc. of Mutual Funds.

            The main object clause and objects incidental or ancillary to the main objects contained in the Memorandum of Association and Articles of Association enable our Company 
            to undertake its existing activities.</pre>
        </div>
    </main>




    <footer>
        <p style="font-size: large;">Housing and Urban Development Corporation Limited</p>
        <p> (A Navratna Central Public Sector Enterprise)</p>
        <p>HUDCO Bhawan, Core-7-A, India Habitat Centre, Lodhi Road, New Delhi - 110 003</p>
        <p>Corporate Identity Number: L74899DL1970GOI005276</p>
    </footer>

</body>
</html>